$primBlue: #496a84;
$primBlueDark: #3b4b5c;
$primBlueLight: #5D91BC;
$primBlueBright: #3ea7cd;
$focus: #2196F3;
$note: #a9060b;

$borderColor: #aaa;
$borderColorLight: #ccc;
$borderColorPale: #e3e3e3;
$borderColorDark: #888;

$fontInvert: #fff;
$fontDark: #111;

$darkGray:#505559;
$white: #fff;

$trHover: #eefbfc;
$readonly: #f4f4f4;

$sortArrow: #e61;